# ==============================================================================
# StreetFun Environment Configuration
# ==============================================================================

# Simulation & Demo Mode Flag
# Set to 'true' for offline / mock testing
# Set to 'false' to route all operations to on-chain Solana contracts & RPC.
NEXT_PUBLIC_USE_MOCK_DATA=true

# Solana Network & RPC Endpoint ('devnet' | 'mainnet-beta')
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com

# StreetFun Anchor Smart Contract Program ID
NEXT_PUBLIC_PROGRAM_ID=6ZiovCkRxRJgUaCS9uftFk3eVnGDsbnDXgUV1XHybH52

# Quote Currency Mint (Devnet / Mainnet USDC)
NEXT_PUBLIC_USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v

# Jupiter V6 Aggregator API Endpoint (for Graduated token swaps)
NEXT_PUBLIC_JUPITER_API_URL=https://quote-api.jup.ag/v6

# Meteora Dynamic Bonding Curve Program ID
NEXT_PUBLIC_METEORA_DBC_PROGRAM_ID=dbcdM1B65epLiUt5UdkmkndscSZ1ReE7FkX1Vsm3mby
